  <div class="container">
    <div>
        <h1>Product Detail</h1>
          <h4>
            <a href="/products/<%=product.id %>"><%=product.prouductTitle %></a>
           </h4>
          <p><%=product.productDescription %></p>
          <p>ราคา : <%=product.productPrice %></p>
    </div>